*
{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.tophead
{
    display:flex;
    background-color: rgb(237, 243, 200);
    justify-content: space-between;
    align-content: center;
    /*text-align: center;*/
    /*vertical-align: auto;*/
    /*border-top: 2px solid black;*/
    /*border-bottom: 2px solid black;*/
	/*border:2px solid black;*/
	
}

.topheadtext
{
   padding:10px;
   margin-top: auto;
   margin-bottom: auto;
}

.topheadicons
{
	padding:10px;

}

.topicon 
{
     
    padding:10px;
}

